<% 
  const header = _.cms('header') || {}
  // list featured categories
  let categories = []
  let isCategoriesNavFull
  if (header.categories_list) {
    if (header.categories_list.featured.length) {
      // selected categories/collections/brands
      categories = header.categories_list.featured.map(pathAndName => {
        const [path, name] = pathAndName.split('?')
        return { slug: path.slice(1), name }
      })
    }
    if (header.categories_list.random) {
      // add up to `random` main categories
      const mainCategories = _.categories.filter(({ parent }) => !parent || !parent.slug)
      for (let i = 0; i < header.categories_list.random && i < mainCategories.length; i++) {
        if (!categories.find(({ slug }) => mainCategories[i].slug === slug)) {
          categories.push(mainCategories[i])
        }
      }
    }
    isCategoriesNavFull = header.categories_list.full_width
  }
  const hasMegamenu = header.desktop_megamenu
  const isAlphabeticalOrderSubmenu = header.alphabetical_order_submenu
  const fullWidthSubmenu = header.full_width_submenu
  const isCentralizedLogo = header.centralized_logo
  const hasAllDepartments = header.menu_all_departments

  
%>

<section class="p-md-2 header-desktop-categories">
  <h2>Compre por Categoria</h2>
  <div class="d-md-flex justify-content-center d-none desktop-logo">
    <a href="/">
      <%- await include('@/layout/inc/logo', { _ }) %>
    </a>
  </div>
  <% if (categories && categories.length) { %>
    <div class="category-scroll">
      <% categories.forEach(({ slug, name, _id}) => { %>
          <div class="category-section">
            <h3 class="category-main-title">
              <a href="/<%= slug %>" data-scroll="<%= name.toLowerCase().replace(/\s/g, '-') %>" class="category-main-link">
                <%= name %>
              </a>
            </h3>
            <% const subcategories = _.categories.filter(({ parent }) => parent && parent.slug === slug) %>
            <% if (subcategories.length) { %>
              <%
                if (isAlphabeticalOrderSubmenu) {
                  subcategories.sort((a, b)=> {
                    return b.name > a.name ? -1 : 1
                  })
                }
              %>
              <div class="subcategories-list">
                <% subcategories.forEach(subcategory => { %>
                  <a href="/<%= subcategory.slug %>" data-scroll="<%= subcategory.name.toLowerCase().replace(/\s/g, '-') %>" class="subcategory-link">
                    <%= subcategory.name %>
                  </a>
                <% }) %>
              </div>
            <% } %>
          </div>
        <% }) %>
      </div>
  <% } %>
  <div class="d-md-block">
    <a
      id="user-button"
      class="btn btn-lg"
      role="button"
      href="/app/#/account/"
      title="<%= _.dictionary('myAccount') %>"
    >
      <i>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#7ec35c" viewBox="0 0 256 256"><path d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"></path></svg>
      </i>
      <div>
        <div style="    white-space: nowrap;">Olá, <span data-client_name>Visitante</span></div>
        <span data-client_message></span>
      </div>

    </a>
  </div>
</section>
<span class="animated-logo-spin">
  <img src="/img/uploads/rodrilagos_rounded.png"/>
</span>