<%
// load header options and contacts from content
const header = _.cms('header') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''

// social networks handled by contacts
const networks = [
  'facebook',
  'youtube',
  'instagram',
  'twitter',
  'pinterest',
  'linkedin',
  'tiktok'
]

// marketing stripe custom styles
let marketingStripeStyle = ''
;['background', 'color'].forEach(prop => {
  if (header.marketing_stripe[prop]) {
    marketingStripeStyle += `${prop}:${header.marketing_stripe[prop]};`
  }
})

// list featured categories
let categories = []
let isCategoriesNavFull
if (header.categories_list) {
  if (header.categories_list.featured.length) {
    // selected categories/collections/brands
    categories = header.categories_list.featured.map(pathAndName => {
      const [path, name] = pathAndName.split('?')
      return { slug: path.slice(1), name }
    })
  }
  if (header.categories_list.random) {
    // add up to `random` main categories
    const mainCategories = _.categories.filter(({ parent }) => !parent || !parent.slug)
    for (let i = 0; i < header.categories_list.random && i < mainCategories.length; i++) {
      if (!categories.find(({ slug }) => mainCategories[i].slug === slug)) {
        categories.push(mainCategories[i])
      }
    }
  }
  isCategoriesNavFull = header.categories_list.full_width
}
const hasMegamenu = header.desktop_megamenu
const isAlphabeticalOrderSubmenu = header.alphabetical_order_submenu
const fullWidthSubmenu = header.full_width_submenu
const isCentralizedLogo = header.centralized_logo
const hasAllDepartments = header.menu_all_departments
%>

<div id="overlay" class="fade"></div>

<header class="header d-block d-sm-none" id="header">
  <div class="header__container container-fluid">
    <div class="header__row row">
      <div class="col p-0 header__toggler-block">
        <button
          class="btn header__toggler <%= hasMegamenu ? ' d-lg-none' : '' %>"
          type="button"
          aside-toggle="aside-left"
          aria-label="Toggle side navigation"
        >
          <span>MENU</span>
          <i>
            
<svg width="26" height="12" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1.33333H25M1 10.6667H25" stroke="#7EC35C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

          </i>
        </button>
      </div>

      <div class="col-auto header__logo-block">
        <a href="/">
          <%- await include('@/layout/inc/logo', { _ }) %>
        </a>
      </div>

      <div class="col header__buttons-block">
        <div
          class="header__buttons"
          role="group"
          aria-label="<%= _.dictionary('myAccount') %>"
        >
          <a
            id="user-button"
            class="btn btn-lg d-none"
            role="button"
            href="/app/#/account/"
            title="<%= _.dictionary('myAccount') %>"
          >
            <i class="i-user"></i>
          </a>
          <a
            id="cart-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/cart"
            aside-toggle="aside-right"
            title="<%= _.dictionary('openCart') %>"
          >
            <i >
              
<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.1875 25.3125C12.1875 25.6833 12.0775 26.0459 11.8715 26.3542C11.6655 26.6625 11.3726 26.9029 11.03 27.0448C10.6874 27.1867 10.3104 27.2238 9.94671 27.1515C9.58299 27.0791 9.2489 26.9005 8.98668 26.6383C8.72445 26.3761 8.54588 26.042 8.47353 25.6783C8.40118 25.3146 8.43831 24.9376 8.58023 24.595C8.72214 24.2524 8.96246 23.9595 9.27081 23.7535C9.57915 23.5475 9.94166 23.4375 10.3125 23.4375C10.8098 23.4375 11.2867 23.635 11.6383 23.9867C11.99 24.3383 12.1875 24.8152 12.1875 25.3125ZM22.5 23.4375C22.1292 23.4375 21.7666 23.5475 21.4583 23.7535C21.15 23.9595 20.9096 24.2524 20.7677 24.595C20.6258 24.9376 20.5887 25.3146 20.661 25.6783C20.7334 26.042 20.912 26.3761 21.1742 26.6383C21.4364 26.9005 21.7705 27.0791 22.1342 27.1515C22.4979 27.2238 22.8749 27.1867 23.2175 27.0448C23.5601 26.9029 23.853 26.6625 24.059 26.3542C24.265 26.0459 24.375 25.6833 24.375 25.3125C24.375 24.8152 24.1775 24.3383 23.8258 23.9867C23.4742 23.635 22.9973 23.4375 22.5 23.4375ZM28.091 8.68828L25.0863 19.5023C24.9211 20.0931 24.5678 20.6138 24.0799 20.9856C23.592 21.3574 22.9962 21.5599 22.3828 21.5625H10.8C10.1848 21.5622 9.58658 21.3607 9.09656 20.9888C8.60654 20.6168 8.25163 20.0948 8.08594 19.5023L3.975 4.6875H1.875C1.62636 4.6875 1.3879 4.58873 1.21209 4.41291C1.03627 4.2371 0.9375 3.99864 0.9375 3.75C0.9375 3.50136 1.03627 3.2629 1.21209 3.08709C1.3879 2.91127 1.62636 2.8125 1.875 2.8125H4.6875C4.89246 2.81246 5.09179 2.87959 5.25497 3.00362C5.41815 3.12764 5.53619 3.30173 5.59102 3.49922L6.70195 7.5H27.1875C27.332 7.49997 27.4746 7.53336 27.6041 7.59756C27.7336 7.66175 27.8465 7.75502 27.934 7.87007C28.0214 7.98512 28.0811 8.11883 28.1084 8.26077C28.1356 8.40271 28.1297 8.54902 28.091 8.68828ZM25.9535 9.375H7.22344L9.89648 19.0008C9.95131 19.1983 10.0694 19.3724 10.2325 19.4964C10.3957 19.6204 10.595 19.6875 10.8 19.6875H22.3828C22.5878 19.6875 22.7871 19.6204 22.9503 19.4964C23.1135 19.3724 23.2315 19.1983 23.2863 19.0008L25.9535 9.375Z" fill="black"/>
</svg>

            </i>
            <span id="cart-count" class="badge badge-primary"></span>
          </a>
        </div>

        <div id="login-modal">
          <!--
            `LoginModal` should be rendered here:
            https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/LoginModal.html
          -->
        </div>
        
      </div>

      <% if (header.search_input) {
        const searchColSize = !isCategoriesNavFull && categories.length ? '-3' : ''
        %>
        <div
          class="d-none d-lg-block col-12 col-lg<%= searchColSize %> collapse show"
          id="search-bar"
        >
          <form
            class="header__search mt-2 mt-md-3 mt-lg-0"
            id="search-form"
            action="/search"
            method="get"
          >
            <input
              type="search"
              name="term"
              placeholder="<%= _.dictionary('searchProducts') %>"
              aria-label="<%= _.dictionary('searchProducts') %>"
              class="header__search-input form-control"
              id="search-input"
            >
            <button
              type="submit"
              class="header__search-btn"
              aria-label="<%= _.dictionary('searchProducts') %>"
            >
              <i class="i-search"></i>
            </button>
          
          </form>

          <% if (_.settings.domain) { %>
            <script type="application/ld+json"><%-
              JSON.stringify({
                '@context': 'http://schema.org',
                '@type': 'WebSite',
                url: `https://${_.settings.domain}/`,
                potentialAction: {
                  '@type': 'SearchAction',
                  target: `https://${_.settings.domain}/search?term={search_term_string}`,
                  'query-input': 'required name=search_term_string'
                }
              })
            %></script>
          <% } %>
        </div>
      <% } %>

      <% if (themeCustom === 'ecom-beauty' && isCategoriesNavFull) { %>
        <% if (header.contacts_stripe.pages) { %>
          <div class="header__page-links d-none d-lg-inline-block">
            <% header.contacts_stripe.pages.forEach(({ link, title })=> { %>
              <a href="<%= link %>">
                <%= title %>
              </a>
            <% }) %>
          </div>
        <% } %>
      <% } %>

      <% if (categories && categories.length) { %>
        <div class="d-none d-lg-block <%= isCategoriesNavFull ? 'col-12 order-lg-last' : 'col' %> header__nav-block">
          <nav class="header__nav<%= isCategoriesNavFull ? ' header__nav--full' : '' %>">
            <% if (hasAllDepartments) { %>
              <div class="d-inline-block">
                <a 
                  href="javascript:;"
                  class="header__category"
                  id="cd-all"
                  onmouseover="toggleSubmenu('all', this)"
                  onclick="toggleSubmenu('all', this)"
                >
                  <%= header.name_all_departments || _.dictionary('all') %>
                </a>
                <nav class="header__submenu header__submenu--full" id="s-all">
                  <div class="row">
                    <% _.categories.forEach(({ name, slug, parent, _id }) => { %>
                      <% if (!parent) { 
                        %>
                        <div class="col-12 col-lg-<%- isCategoriesNavFull ? '2' : '4' %>">
                          <a 
                            id="sd-all-<%= _id %>" 
                            href="/<%= slug %>"
                          >
                            <%= name %>
                          </a>
                        <% const subcategories = _.categories.filter(({ parent }) => parent && parent.slug === slug) %>
                        <% if (subcategories.length) { %>
                          <div id="header__submenu-<%= slug %>">
                            <ul class="header__links">
                              <% subcategories.forEach(subcategory => { %>
                                <li>
                                  <a id="td-all-<%= subcategory._id %>" class="header__submenu-subcategory" href="/<%= subcategory.slug %>">
                                    <%= subcategory.name %>
                                  </a>
                                </li>
                                <% }) %>
                              </ul>
                            </div>
                          <% } %>
                          </div>
                        <% } %>
                      <% }) %>
                    </div>
                  </nav>
              </div>
            <% } %>
            <% categories.forEach(({ slug, name, _id}) => { %>
              <% let $categoryLink %>
              <div class="d-inline-block">
                <a
                  href="javascript:;"
                  class="header__category"
                  id="cd-<%= _id %>"
                  <%- hasMegamenu
                    ? `onmouseover="toggleSubmenu('${slug}', this)" onclick="toggleSubmenu('${slug}', this, true)"`
                    : `onclick="toggleSidenav('${slug}')"` %>
                >
                  <%= name %>
                </a>
                <%- $categoryLink %>
                <%  if (slug && hasMegamenu) { %>
                  <% const subcategories = _.categories.filter(({ parent }) => parent && parent.slug === slug) %>
                  <% if (subcategories.length) { %>
                    <%
                      if (isAlphabeticalOrderSubmenu) {
                        subcategories.sort((a, b)=> {
                          return b.name > a.name ? -1 : 1
                        })
                      }
                    %>
                    <nav class="header__submenu<%= fullWidthSubmenu ? ' header__submenu--full' : '' %>" id="<%= `s-${slug.replace(/\//g, '_')}` %>">
                      <% subcategories.forEach(subcategory => { %>
                        <div>               
                          <a id="sd-<%= subcategory._id %>" href="/<%= subcategory.slug %>"><%= subcategory.name %></a>
                          <% const thirdCategories = _.categories.filter(({ parent }) => parent && parent.slug === subcategory.slug) %>
                          <%
                            if (isAlphabeticalOrderSubmenu) {
                              thirdCategories.sort((a, b)=> {
                                return b.name > a.name ? -1 : 1
                              })
                            }
                          %>
                          <% thirdCategories.forEach(thirdCategory => { %>
                            <a id="td-<%= thirdCategory._id %>" class="header__submenu-subcategory" href="/<%= thirdCategory.slug %>">
                              <%= thirdCategory.name %>
                            </a>
                          <% }) %>
                        </div>
                      <% }) %>
                    </nav>
                  <% } %>
                <% } %>
              </div>
            <% }) %>
          </nav>
        </div>
      <% } %>
    </div>
  </div>
</header>
<% if (header.popup) { %>
  <div class="modal fade" id="popup-modal" tabindex="-1" role="dialog" aria-labelledby="modal-popup" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" id="close-modal-popup" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 10px; top: 10px">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="<%- header.popup %>" style="max-width: 100%">
      </div>
    </div>
  </div>
<% } %> 
